# IDE and code editor workspace files
.vs/
.vscode/
.zed/
.idea/

# Direnv cache
.direnv/

# .clangd cache files
.cache/

# Build directories
build/
out/
bin/
obj/

# Visual Studio specific
*.vcxproj.user
*.vcxproj.user.*